#ignore python files
*.py

#ignore Makefile
Makefile

#ignore viz firectory
**/viz

#ignore data-model files
confirmedFluHosps__long.csv
confirmedFluHosps__wide.csv

confirmedCOVIDHosps__long.csv
confirmedCOVIDHosps__wide.csv

#ignore raw MCMC samples files
*-allPredictions.csv

# ignore pyc files
**/__pycache__/

# ignore preprocess files
*-preprocess.csv
